@model IEnumerable<Models.phieuxuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm phiếu xuất", "Phieuxuat","Home")
</p>
<table class="table">
    <tr>
        <th>Mã số</th>
        <th>
            Người nhận
        </th>
        <th>
            Thời gian
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Đại lý
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoinhan)
        </td>
        <td>
            @{
                var sr = item.tgian.ToShortDateString();
            }
            @Html.DisplayFor(modelItem => sr)        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongtien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daily.tendl)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.maso })
        </td>
    </tr>
}

</table>
