@model IEnumerable<QLSACH.Models.linhvuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenlv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenlv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.malv }) |
            @Html.ActionLink("Details", "Details", new { id=item.malv }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.malv })
        </td>
    </tr>
}

</table>
