@model IEnumerable<QLSACH.Models.sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tensach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linhvuc1.tenlv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linhvuc1.tenlv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.masach }) |
            @Html.ActionLink("Details", "Details", new { id=item.masach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.masach })
        </td>
    </tr>
}

</table>
