@model Models.phieunhapVM

@{
    ViewBag.Title = "Chi tiết phiếu nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="component">
    <div class="sticky-wrap">
        <h2 class="text-center">CHI TIẾT PHIẾU NHẬP</h2>
        <table>
                <tr>
                    <td colspan="2">
                        <h2 class="text-center">Mã số: @Html.DisplayFor(model => model.phieunhap.maso)</h2>                        
                    </td>
                </tr>
                <tr>
                    <th width="25%">Người giao:</th>
                    <td>
                        @Html.DisplayFor(model => model.phieunhap.nguoigiao)
                 </td>
                </tr>
                <tr>
                    <th>Ngày giao:</th>
                    <td>
                        @{
                            var sr = Model.phieunhap.tgian.ToShortDateString();
                        }
                        @Html.DisplayFor(model => sr)
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td colspan="2" class="text-center">Thông tin nhà xuất bản</td>
                </tr>
                <tr>
                    <th width="25%">Mã nhà xuất bản:</th>
                    <td>
                        @Html.DisplayFor(model => model.nxb.manxb)
                    </td>
                </tr>
                <tr>
                    <th>Tên nhà xuất bản:</th>
                    <td>
                    @Html.DisplayFor(model => model.nxb.tennxb)    
                    </td>
                </tr>
                <tr>
                    <th>Địa chỉ:</th>
                    <td>
                        @Html.DisplayFor(model => model.nxb.dchi)
                    </td>
                </tr>
                <tr>
                    <th>Số điện thoại:</th>
                    <td>
                        @Html.DisplayFor(model => model.nxb.sdt)
                    </td>
                </tr>
            </table>
            
            <table>
                <thead>
                    <tr>
                        <td colspan="4" class="text-center"><h4>Danh sách sách</h4></td>
                    </tr>
                    <tr>
                        <th width="25%">Mã sách</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody id="ds-sach">
                    @foreach (var item in Model.ctphieunhap)
                    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.masach)</td>
    <td>@Html.DisplayFor(modelItem => item.soluong)</td>
    <td>@Html.DisplayFor(modelItem => item.gia)</td>
    <td>@Html.DisplayFor(modelItem => item.thanhtien)</td>
</tr>
                    }
                </tbody>
            </table>
            <table>
                <tr>
                    <td><h2>Tổng tiền:</h2></td>
                    <td>
                        <h2 id="tongtien">
                            <script>
                                $('#tongtien').text($.number(@Html.DisplayFor(model => model.phieunhap.tongtien)))</script>
                        </h2>
                    </td>
                    <td><h2>VND</h2></td>
                </tr>
            </table>
    </div>
</div>