@model IEnumerable<Models.phieunhap>

@{
    ViewBag.Title = "Phiếu nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUẢN LÝ PHIẾU NHẬP</h2>

<p>
    @Html.ActionLink("Thêm phiếu nhập", "Phieunhap","Home")
</p>
<table class="table">
    <tr>
        <th>
            Mã số
        </th>
        <th>
           Người giao
        </th>
        <th>
            Thời gian
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Nhà xuất bản
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoigiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tgian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongtien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nxb.tennxb)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new { id=item.maso.Trim() })
        </td>
    </tr>
}

</table>
