@model IEnumerable<QLSACH.Models.phieunhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nguoigiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tgian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongtien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nxb.tennxb)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nguoigiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tgian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongtien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nxb.tennxb)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maso.Trim() }) |
            @Html.ActionLink("Details", "Details", new { id=item.maso.Trim() }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maso.Trim() })
        </td>
    </tr>
}

</table>
