@model IEnumerable<Models.nxb>

@{
    ViewBag.Title = "Nhà xuất bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH NHÀ XUẤT BẢN</h2>
<table class="table">
    <tr>
        <th>Mã số</th>
        <th>
            Tên nhà xuất bản
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Nợ
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.manxb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tennxb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dchi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tonkho)
        </td>
    </tr>
}

</table>
