@model QLSACH.Models.daily

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>daily</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tendl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dchi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dchi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tonkho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tonkho)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.madl }) |
    @Html.ActionLink("Back to List", "Index")
</p>
