@model IEnumerable<Models.daily>

@{
    ViewBag.Title = "Đại lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH ĐẠI LÝ</h2>

<table class="table">
    <tr>
        <th>
            Mã số
        </th>
        <th>
            Tên đại lý
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Nợ
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.madl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tendl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dchi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tonkho)
        </td>
    </tr>
}

</table>
