@model IEnumerable<QLSACH.Models.daily>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tendl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dchi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tonkho)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tendl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dchi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tonkho)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.madl }) |
            @Html.ActionLink("Details", "Details", new { id=item.madl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.madl })
        </td>
    </tr>
}

</table>
